{% extends "elections/layout.html" %}

{% block title %}
{{area}}
{% endblock %}

{% block content %}
<div class="container">
<h1>{{area}}</h1>
<br>
    {% if poll %}
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>Name</B></td>
            <td><B>Introduction</B></td>
            <td><B>Number</B></td>
            <td><B>Vote</B></td>
        </tr>
        </thead>
        <tbody>
        {% for candidate in candidates_list %}
        <tr>
            <td>{{candidate.name}}</td>
            <td>{{candidate.introduction}}</td>
            <td>No. {{candidate.party_number}}</td>
            <td>
                <form action="/polls/{{poll.id}}/" method="post">
                {% csrf_token %}
                    <button name="choice" value="{{candidate.id}}">Select</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        There's no poll.
    {% endif %}
</div>
{% endblock %}