/* Add a black background color to the top navigation */
.navbar-new {
    background-color: #33CC66;
    overflow: hidden;
    position: fixed;
  }
  
  /* Style the links inside the navigation bar */
  .navbar-new a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar-new a:hover {
    background-color: #ddd;
    color: black;
  }
  
